.App {
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

b {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.results {
  margin-top: -0.4cm;
}

.dispnon {
  display: none;
}

.asterisk {
  font-family: "Montserrat", sans-serif;
  font-size: 0.35cm;
}

.bottom-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.35cm;
  color: #7e7e7e;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-size: 0.35cm;
  color: #7e7e7e;
}

@media (max-width: 600px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.6cm;
  }

  b {
    font-family: "Montserrat", sans-serif;
    font-size: 0.4cm;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.4cm;
  }
}
